
HTML,
BODY {
	font-family: Helvetica;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
    background-image: url(images/iPhone_background.png);
    background-size: cover;
    background-color: rgb(65, 123, 134);
}
DIV#innerFrame {
	width: 100%;
	height: 100%;
}
DIV#innerFrame > IFRAME {
	border: 0px;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}
